html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}
h1,
h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

.navBar {
  background-color: #a445b2;
}

.nav {
  color: greenyellow;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;

  text-transform: uppercase;

  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}
.lista-productos .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-productos .media:last-of-type {
  border-bottom: 0;
}
.lista-productos .media-body p {
  margin: 0;
}
.lista-productos .media-body button {
  margin-top: 1rem !important;
}
.lista-productos .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

.producto {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.producto p {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.producto p span {
  font-weight: normal;
}
.producto:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.producto:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Staatliches", cursive;
}

#input[type="file"] {
  display: none;
}
